/* Estilos similares a los del formulario de registro y login de usuario */

html {
  font-family: "Roboto", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: rgb(37, 37, 38);
  background: linear-gradient(
      90deg,
      rgba(37, 37, 38, 0.5) 0%,
      rgba(116, 111, 140, 0.4) 71%
    ),
    url("../../images/manager.jpg");
  padding: 0 10px;

  /* La imagen siempre cubre por completo el body */
  background-size: cover;

  /* No se mueve al hacer scroll */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.8;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
}

.login-container {
  max-width: 360px;
  margin: 100px auto 0;
  padding: 30px;
  text-align: center;
  background-color: #cbbcf6;
  box-shadow: 1px 1px 10px #000;
}

.login-container input {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid black;
}

.login-container button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: #421b9b;
  width: 100%;
  padding: 15px;
  color: #fff;
  border: 1px solid black;
  font-size: 14px;
  cursor: pointer;

  /* Transicion fluida */
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.login-container button:hover,
.login-container button:active,
.login-container button:focus {
  background: #264c72;
}

/* Bordes redondeados */
.login-container,
.login-container input,
.login-container button {
  border-radius: 10px;
}

.notice p {
  /* margin: 15px 0 0; */
  color: #000;
  font-size: 15px;
}

.notice p:nth-child(2) {
  background-color: #720202;
  color: white;
  padding: 4px;
}