/* Iconos informativos */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html {
  font-family: "Roboto", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-image: linear-gradient(
      rgba(21, 21, 56, 0.8),
      rgba(21, 21, 56, 0.5)
    ),
    url("../../images/bg_img_user_login_registration.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 10px;
}

.form-container {
  /* Centrar y hacer fluido*/
  max-width: 360px;
  margin: auto;

  padding: 8% 0 0;
}

.form {
  /* Crear contexto para posicionar los formularios */
  position: relative;
  /* Por encima de cualquier otro elemento en la pagina */
  z-index: 1;
  background-color: #151538;

  /* 
    El contenido es fluido, como maximo 360px, apropiado
    para dispositivos moviles
    */
  max-width: 360px;
  margin: 0 auto 10px;
  padding: 5px 45px 45px;
  text-align: center;

  /* Sensacion de relieve */
  box-shadow: 0 0 20px 0 rgba(138, 67, 147, 0.4),
    0 5px 5px 0 rgba(138, 67, 147, 0.4);
}

.form h2 {
  font-size: 2em;
  text-transform: uppercase;
  color: #4caf50;
}

/* Consistencia en los controles del formulario */
.form input {
  font-family: "Roboto", sans-serif;
  border: 0;
  outline: 0;
  background-color: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Consistencia en los botones */
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  background-color: #4caf50;
  width: 100%;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;

  /* Transicion fluida */
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

/* Para que los botones sobresalgan de alguna manera */
.form button:hover,
.form button:active,
.form button:focus {
  background: #43a047;
}

.form,
.form input,
.form button {
  border-radius: 10px;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4caf50;
  text-decoration: none;
}

/* Estilo para mensajes */
.error,
.success {
  max-width: 360px;
  margin: 0 auto;
  padding: 12px;
  text-align: center;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
}

.error {
  color: #d8000c;
  background-color: #ffd2d2;
}

.success {
  color: #4f8a10;
  background-color: #dff2bf;
}
